.footer-development {
  &__list {
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: 12px;
    line-height: 130%;
    @include tablet {
      font-size: 10px;
      line-height: 130%;
      gap: 11px;
    }
    @include mobile {
      gap: 4px;
    }
  }
}
